@tailwind base;
@tailwind components;
@tailwind utilities;

h1{
    font-size: 2rem;
    font-weight: 600;
}

h2 {
    font-size: 1.5em;
    font-weight: 600;
}

h3 {
    font-size: 1.17em;
    font-weight: 600;
}

h4 {
    font-size: 1em;
    font-weight: 600;
}

h5 {
    font-size: 13.28px;
    font-weight: 600;
}

h6 {
    font-size: 10.72px;
    font-weight: 600;
}

li{
    list-style-type: circle;
}
/* *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #333034;
    font-family: 'Poppins', sans-serif;

}
.super-container{
    display: flex;
}

header{
    background: linear-gradient(#dd306f, #7d1f36);
    height: 100vh;
    flex-direction: column;

}

.link-wrapper{
    flex-direction: column;
}

.form{
    flex-direction: column;
}

.redirect{
    flex-direction: column;
}

a{
    display: block;
    flex-direction: column;
    text-decoration: none;
    color: #170613;
    padding: 4px 50px 4px 50px;
}

a:active{
    color: #FFE3FE;
} */